/* Write your CSS here */
.btn {
  outline: none;
  border-width: 0px;
  color: #0f172a;
  cursor: pointer;
  background-color: transparent;
  font-size: 20px;
  font-weight: bold;
}
.btn1 {
  border-color: #0284c7;
  color: #0284c7;
  cursor: pointer;
}
